/* ANCHOR element styles */
header img {
  max-height: 5dvh;
}

/* ANCHOR Class styles */

.office-bg {
  background-image: url(https://images.unsplash.com/photo-1511649475669-e288648b2339?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-repeat: none;
  background-size: cover;
  background-position: bottom;
  filter: opacity(80%);
}

.text-shadow {
  text-shadow: 1px 1px #000;
}

.cover {
  min-width: 100dvw;
  max-height: 50dvh;
}

.overflow-card {
  position: absolute;
  max-height: 45dvh;
  top: 30px;
  font-size: 1.1rem;
  padding: 1rem 3rem;
}

.below-text {
  margin-top: 13em;
}

.alegreya-sans-thin {
  font-family: "Alegreya Sans", serif;
  font-weight: 100;
  font-style: normal;
}

.alegreya-sans-light {
  font-family: "Alegreya Sans", serif;
  font-weight: 300;
  font-style: normal;
}

.alegreya-sans-regular {
  font-family: "Alegreya Sans", serif;
  font-weight: 400;
  font-style: normal;
}

.alegreya-sans-medium {
  font-family: "Alegreya Sans", serif;
  font-weight: 500;
  font-style: normal;
}

.alegreya-sans-bold {
  font-family: "Alegreya Sans", serif;
  font-weight: 700;
  font-style: normal;
}

.alegreya-sans-extrabold {
  font-family: "Alegreya Sans", serif;
  font-weight: 800;
  font-style: normal;
}

.alegreya-sans-black {
  font-family: "Alegreya Sans", serif;
  font-weight: 900;
  font-style: normal;
}

.alegreya-sans-thin-italic {
  font-family: "Alegreya Sans", serif;
  font-weight: 100;
  font-style: italic;
}

.alegreya-sans-light-italic {
  font-family: "Alegreya Sans", serif;
  font-weight: 300;
  font-style: italic;
}

.alegreya-sans-regular-italic {
  font-family: "Alegreya Sans", serif;
  font-weight: 400;
  font-style: italic;
}

.alegreya-sans-medium-italic {
  font-family: "Alegreya Sans", serif;
  font-weight: 500;
  font-style: italic;
}

.alegreya-sans-bold-italic {
  font-family: "Alegreya Sans", serif;
  font-weight: 700;
  font-style: italic;
}

.alegreya-sans-extrabold-italic {
  font-family: "Alegreya Sans", serif;
  font-weight: 800;
  font-style: italic;
}

.alegreya-sans-black-italic {
  font-family: "Alegreya Sans", serif;
  font-weight: 900;
  font-style: italic;
}

/* ANCHOR Media Queries */

@media screen AND (max-width: 1199.98px) {

  .overflow-card {
    max-height: 55dvh;
    padding: 2em 4em;
  }

}


@media screen AND (max-width: 991.98px) {

  .overflow-card {
    position: absolute;
    top: 90px;
    right: -280px;
    padding: 0.5rem 1.5rem;
    font-size: 1em;
    max-height: 40dvh;
  }

  .below-text {
    margin-top: 8em;
  }

  .fl-rev-co {
    display: flex;
    flex-direction: column-reverse;

  }
}

@media screen AND (max-width: 767.98px) {

  .overflow-card {
    position: static;
    top: 0px;
    padding: 0.5rem 1.5rem;
    font-size: 1em;
    max-height: 65dvh;
  }

.below-text {
  margin-top: 1em;
}

}
